.nav-link:hover {
  color: #000;
  position: relative;
  cursor: pointer;
  z-index: 500;
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
  z-index: 500;
}
.nav-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  left: 0;
  position: absolute;
  bottom: -3px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
  z-index: 500;
}
.about-btn:hover,
.hero-btn:hover {
  background-color: transparent;
  border: 2px solid rgb(173, 255, 173);
  transition: all 0.3s;
}
